apiVersion: 1

datasources:
  - name: Google BigQuery (mlab-collaboration)
    type: grafana-bigquery-datasource
    access: proxy
    isDefault: {{IS_DEFAULT}}
    editable: false
    enabled: true
    jsonData:
      authenticationType: gce
      defaultProject: mlab-collaboration
