# config file version
apiVersion: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
- name: Platform Cluster (mlab-sandbox)
  type: prometheus
  access: proxy
  orgId: 1
  url: https://prometheus-platform-cluster.mlab-sandbox.measurementlab.net
  basicAuth: true
  basicAuthUser: {{PLATFORM_PROM_AUTH_USER}}
  basicAuthPassword: {{PLATFORM_PROM_AUTH_PASS}}
  isDefault: {{IS_DEFAULT}}
  version: 1
  editable: false
