# config file version
apiVersion: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
- name: Platform Cluster (mlab-staging)
  type: prometheus
  access: proxy
  orgId: 1
  url: http://prometheus-platform-cluster.mlab-staging.measurementlab.net:9090
  isDefault: {{IS_DEFAULT}}
  version: 1
  editable: false
