# config file version
apiVersion: 1

datasources:
- name: Prometheus (mlab-sandbox)
  type: prometheus
  access: proxy
  orgId: 1
  url: https://prometheus.mlab-sandbox.measurementlab.net
  isDefault: {{IS_DEFAULT}}
  version: 1
  editable: false

  jsonData:
    timeout: 60
    timeInterval: 60s
    httpMethod: POST
    keepCookies:
    - _oauth2_proxy
