apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: bigquery-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      run: bigquery-exporter
  template:
    metadata:
      labels:
        run: bigquery-exporter
      annotations:
        prometheus.io/scrape: 'true'
    spec:
      containers:
      - name: bigquery-exporter
        image: measurementlab/prometheus-bigquery-exporter:production-0.3
        args: [ "--project={{GCLOUD_PROJECT}}",
                "--type=gauge", "--query=/queries/bq_mlabns_ratelimit.sql",
                "--type=gauge", "--query=/queries/bq_mlabns_sixhour_requests.sql",
                "--type=gauge", "--query=/queries/bq_ndt_tests.sql",
                "--type=gauge", "--query=/queries/bq_ndt_annotation.sql",
                "--type=gauge", "--query=/queries/bq_gardener_parse_time.sql",
                "--type=gauge", "--query=/queries/bq_ndt_server.sql",
              ]
        ports:
        - containerPort: 9050
        volumeMounts:
        - mountPath: /queries
          name: bigquery-config

      volumes:
      - name: bigquery-config
        configMap:
          name: bigquery-exporter-config
