apiVersion: apps/v1
kind: Deployment
metadata:
  name: bigquery-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      run: bigquery-exporter
  template:
    metadata:
      labels:
        run: bigquery-exporter
        # Update this string to trigger redeployment, or delete the pod.
        update: '2020-10-21-a'
      annotations:
        prometheus.io/scrape: 'true'
    spec:
      containers:
      - name: bigquery-exporter
        image: measurementlab/prometheus-bigquery-exporter:production-0.3
        args: [ "--project={{GCLOUD_PROJECT}}",
                "--refresh=3h",
                "--type=gauge", "--query=/queries/bq_annotation.sql",
              ]
        ports:
        - containerPort: 9050
        volumeMounts:
        - mountPath: /queries
          name: bigquery-config

      volumes:
      - name: bigquery-config
        configMap:
          name: bigquery-exporter-config
