apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/scrape: 'true'
  name: gmx-tls-service
  namespace: default
spec:
  ports:
  - port: 9999
    protocol: TCP
    targetPort: 9999
  selector:
    # Pods with labels matching this key/value pair will be publically
    # accessible through the service IP and port.
    run: gmx-server
  sessionAffinity: None
  type: NodePort
---
apiVersion: apps/v1
kind: Ingress
metadata:
  name: gmx-tls
  namespace: default
  annotations:
    kubernetes.io/tls-acme: "true"
    kubernetes.io/ingress.class: "nginx"
spec:
  tls:
  - hosts:
    - gmx.{{GCLOUD_PROJECT}}.measurementlab.net
    secretName: gmx-tls
  rules:
  - host: gmx.{{GCLOUD_PROJECT}}.measurementlab.net
    http:
      paths:
      - path: /
        backend:
          serviceName: gmx-tls-service
          servicePort: 9999

