apiVersion: v1
kind: Service
metadata:
  name: reboot-api-tls-service
  namespace: default
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    # Pods with labels matching this key/value pair will be publically
    # accessible through the service IP and port.
    run: reboot-api
  sessionAffinity: None
  type: NodePort
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: reboot-api-tls
  namespace: default
  annotations:
    kubernetes.io/tls-acme: "true"
spec:
  ingressClassName: "nginx"
  tls:
  - hosts:
    - reboot.{{GCLOUD_PROJECT}}.measurementlab.net
    secretName: reboot-api-tls
  rules:
  - host: reboot.{{GCLOUD_PROJECT}}.measurementlab.net
    http:
      paths:
      - path: /
        backend:
          service:
            name: reboot-api-tls-service
            port:
              number: 8080

